# 1. 빌드 결과물 및 캐시
build/
*/build/
.gradle/
build-cache/
bin/
gen/
out/

# 2. 안드로이드 스튜디오 개인 설정 폴더 전체 제외
.idea/
*.iml
*.ipr
*.iws

# 3. 로컬 환경 설정 및 보안 파일
local.properties

# 앱 배포용 서명 키 파일
*.jks
*.keystore

# API Key 등 비밀 데이터 저장 파일
secrets.properties

# Firebase 설정 파일
google-services.json


# 4. 로그 및 운영체제 임시 파일
*.log
captures/
.DS_Store
Thumbs.db